@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section,
footer {
  overflow: hidden;
}
#header{
  z-index: 90000;
}
header {
  background: url("../img/roletaheader.webp") center/cover no-repeat;
}

header>div:first-child {
  padding: 20px 5px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

header div h1 {
  padding: 10px;
  color: #F20505;
  display: flex;
  align-items: center
}

header div h1 img {
  width: 80px;
  animation: girar-roleta 5s ease-in-out infinite;
}

.icone {
  display: none;
}
.nav div{
  display: flex;
  padding: 10px;
}
.nav div a {
  font-size: 15pt;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #002100;
  color: #fdfffc;
  position: relative;
  overflow: hidden;
  display: inline-block;

}

.nav div a:hover {
  background-color: #213814;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: .5s;

}

.nav div a::before {
  position: absolute;
  content: "";
  width: 0;
  overflow: hidden;
}

.nav div a:hover::before {
  bottom: 0;
  left: 0;
  border-radius: 0 0 15px 15px;
  transition: .5s width;
  width: 100%;
  height: 5px;
  background-color: #F20505;

}

header>div:last-child {
  color: #fff;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

header>div:last-child h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 55pt;
  color: #4b842e;
  border-radius: 10px;
  padding: 25px 30px;
}
header>div:last-child p {
  border-radius: 0 50px 0px 50px;
  max-width: 500px;
  width: 100%;
  height: 300px;
  margin: 180px 0 80px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-left: 15px solid rgb(169, 169, 169);
  border-right: 15px solid rgb(169, 169, 169);
  background-color: rgba(255, 0, 0, 0.137);
  /*background: url(../img/boom.png) center/contain no-repeat;*/
}
header>div:last-child p span{
  border-radius: 5px;
  font-size: 20pt;
  color: #ffffff;
}
header>div:last-child p span:first-child{
  padding: 10px;
  background-color: #F20505;
  text-shadow: 0 0 5px black;
}
header>div:last-child p span:last-child a{
 border-radius: 30px;
 color: #fffffc;
 text-shadow: 0px 0px 10px black;
 display: block;
 text-decoration: none;
 margin-top: 30px;
 padding: 15px;
 background: rgb(255,175,0);
 background: linear-gradient(180deg, rgba(255,175,0,1) 0%, rgba(255,0,0,1) 100%);
 transition: .5s;
}

header>div:last-child p span:last-child a:hover{
  background: rgba(255,0,0,1);
}

section>div:nth-child(1) {
  background: url("../img/cassino.jpg") center/cover no-repeat fixed;
}

section>div:nth-child(1) div {
  padding: 20px 20px 80px 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);

}

section>div:nth-child(1) div p:first-child {
  color: #fff;
  text-align: center;
  padding: 50px 0;
  font-size: 50px;

}

section>div:nth-child(1) div p:last-child {
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  color: #F20505;
  padding: 50px 20px;

}
section>div:nth-child(2){
  color: #fff;
  background-color: #000;
}

section>div:nth-child(2) span{
  color: #fff;
}
section>div:nth-child(3) {
  background-color: #000;
  color: #fff;
  padding: 50px 0px;
}

section>div:nth-child(3) div:first-child p {
  padding: 50px 5px;
  background-color: #172f36;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

section>div:nth-child(3) div:first-child p>span {
  width: 100%;
  text-align: center;
  max-width: 500px;
  padding: 20px 5px;
  font-size: 20pt;
  display: block;
  border: 2px dotted #fff;
}

section>div:nth-child(3) div:last-child {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section>div:nth-child(3) div:last-child p:first-child span:first-child {
  font-size: 12pt;
}

section>div:nth-child(3) div:last-child p:first-child {
  position: relative;
  font-size: 5vh;
  color: #F20505;
}

section>div:nth-child(3) div:last-child p:first-child span:last-child::before {
  width: 100%;
  height: 50%;
  background: url(../img/painel-itamaraty-risco.png) 100% 100%/contain no-repeat;
  position: absolute;
  top: 5px;
  left: 0px;
  content: "";
  font-size: 50pt;
  color: #F20505;
}

section>div:nth-child(3) div:last-child p:nth-child(2) {
  text-align: left;
  color: #7be1ff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section>div:nth-child(3) div:last-child p:nth-child(2) span:last-child {
  font-size: 90pt;
  padding: 0 0 0 10px;
}

section>div:nth-child(3) div:last-child p:last-child a {
  text-decoration: none;
  background-color: #172f36;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 25px;
  display: block;
  color: #7be1ff;
  transition: .5s ease-in;
  font-size: 25pt;
}

section>div:nth-child(3) div:last-child p:last-child a:hover {
  background-color: #7be1ff;
  color: #172f36;
}

footer p {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p img {
  width: 80px;
  animation: girar-roleta 5s ease-in infinite;
}

@media screen and (max-width: 790px) {
  header>div:last-child {
    height: auto;
  }
  .nav div a {
    display: none;
  }

  .icone {
    display: block;
  }

  .icone {
    font-size: 25px;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    color: #F20505;
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive div a:not(:first-child)  {
    margin-top: 5px;
  }
  .responsive div a{
    display: block;
  }

  .nav div {
    display: block;
    border-radius: 10px;
    padding: 15px 10px;
    position: absolute;
    top: 60px;
    right: 20px;
  }

  header>div:last-child h2 {
    text-shadow: 0px 0px 10px black, 0px 0px 20px black;
    background-color: transparent;
  }
  header>div:last-child p span {
    margin: 10px;
  }
  section>div:nth-child(1) div p:first-child{
    font-size: 25pt;
  }
}

@keyframes girar-roleta {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

/*
*/
[data-anima]{
  position: relative;
  opacity: 0;
  transition: 1s;

}
[data-anima].animacao{
  left: 0;
  opacity: 1;
  margin: 0;
  transform: translate(0,0,0);
}
@keyframes identifier {
  
}
#carrossel{
  display: flex;
  justify-content: center
}